# Python
*.pyc
__pycache__/
.venv/
venv/

# Data
data/
outputs/
*.pt
*.onnx

# Environment
.env
.env.template

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/
*.csv
*.pkl
# Docker
docker-compose.override.yml